*, *::before, *::after {
  box-sizing: border-box;
}
body{
	margin: 0;
 }
 h1{
 	text-align: center;
 	border: 1px dashed black;
 	color: #5e35b1;
 	width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .among_us{
 	position: relative;
    width: 160px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
 }
.among{
	 position: absolute;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
}
.slide.one{
	position: relative;
	width: 150px;
	height: 190px;
	background-color: #5e35b1;
	border-radius: 70px 70px 0 0 ;
	border: 13px solid black;
	border-bottom: 0px ;
}
.slide.five{
	position: absolute;
	background-color: #b38dff;
	width: 110px;
	height: 150px;
	right: 0px;
	border-radius: 70px 70px 49px 49px;
}
.slide.seven{
	position: absolute;
	width: 80px;
	height: 55px;
	background-color: gray;
	right: 0px;
	top: 50px;
	border-radius:  80px 100px 100px 80px ;
	border: 10px solid black ;
	transform: translateZ(50px);
}
.slide.eight{
	position: absolute;
	width: 55px;
	height: 20px;
	background-color: #e0e0e0;
	right: 10px;
	top: 60px;
	border-radius: 900px 2000px 2000px 4000px;
	transform: translateZ(60px);
}
.slide.nine{
	position: absolute;
	width:30px;
	height: 10px;
	background-color: #f5f5f5;
	right: 17px;
	top: 62px;
	transform: translateZ(70px);
	border-radius: 17px;
}
.slide.two{
	position: absolute;
	width: 73px;
	height: 50px;
	background-color:#5e35b1;
	border-radius: 0 0 70px 70px;
	border: 13px solid black;
	border-top: 0px ;
}
.slide.three{
	position: absolute;
	right: 10px;
	width: 75px;
	height: 50px;
	background-color:#5e35b1;
	border-radius: 0 0 70px 70px;
	border: 13px solid black;
	border-top: 0px ;
}
.slide.four{
	position: absolute;
	top:60px;
	left: 0px;
	width: 30px;
	height: 120px;
	background-color:#5e35b1;
	transform: translateX(-28px);
	border: 13px solid black;
	border-right: 0px;
	border-radius: 40px 0px 0px 40px;
}
.slide.six{
	position: absolute;
	top: 70px;
	left: 0px;
	background-color:#b38dff61;
	width: 17px;
	height: 11px;
	transform: translateX(-15px);
	border-radius: 3500px 30px 80px 280px;

}
